<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div class="row center-align">
    <h1>Simple MVC App</h1>
    <div class="row">
      <div class="col s6">
        <h6>Enter pizza information below:</h6>
        <form action="/create-pizza" method="POST" id="pizzaForm">
          <div class="row">
            <div class="input-field col s6">
              <input id="name" name="name" type="text" class="validate">
              <label for="name">Pizza Name</label>
            </div>
            <div class="input-field col s6">
              <input id="price" name="price" type="number" class="validate">
              <label for="price">Price</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
              <label for="ingredients">Ingredients</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Create Pizza</button>
        </form>
      </div>
      <div class="col s6">
        <h6>Pizzas found in db:</h6>
        <p>-------------------------</p>
        <ul id="pizza-list">
          <% if (pizzas.length > 0) { %>
            <% for (let pizza of pizzas) { %>
              <li>
                <p>Pizza Name: <%= pizza.name %></p>
                <p>Ingredients: <%= pizza.ingredients %></p>
                <p>Price: <%= pizza.price %></p>
                <p>-------------------------</p>
              </li>
            <% } %>
          <% } else { %>
            <p>No pizzas found.</p>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>